<div class="page_2 section">
    <img src="/img/page_2_165bg3.png" class="bg3">
    <img  class="pic pic1 ani" DQL="expandOpen1 1.5s ease 0s 1 normal both">
    <img  class="pic pic2 ani" DQL="expandOpen1 1.5s ease 1s 1 normal both">
    <img  class="pic pic3 ani" DQL="expandOpen1 1.5s ease 2s 1 normal both">

    <img src="/img/page_2_165lianhua3.png" class="shang1 ani" DQL="scaleBig 0.7s ease-out 3.4s 1 normal both">
    <img src="/img/page_2_165lianhua4.png" class="shang2 ani" DQL="scaleBig 0.7s ease-out 3.8s 1 normal both">
    <img src="/img/page_2_165shuzhi1.png" class="shang3 ani" DQL="scaleBig 0.7s ease-out 4.2s 1 normal both">
    <img src="/img/page_2_165shuzhi2.png" class="shang4 ani" DQL="scaleBig 0.7s ease-out 4.6s 1 normal both">

    <img src="/img/page_2_165lianhua8.png" class="zuoxia1 ani" DQL="scaleBig 0.7s ease-out 4.4s 1 normal both">
    <img src="/img/page_2_165lianhua6.png" class="zuoxia2 ani" DQL="scaleBig 0.7s ease-out 4.7s 1 normal both">
    <img src="/img/page_2_165fenhua1.png" class="zuoxia3 ani" DQL="scaleBig 0.7s ease-out 5.1s 1 normal both">

    <img src="/img/page_2_165lianhua1.png" class="youxia1 ani" DQL="scaleBig 0.7s ease-out 5.2s 1 normal both">
    <img src="/img/page_2_165lianhua11.png" class="youxia2 ani" DQL="scaleBig 0.7s ease-out 5.6s 1 normal both">
    <img src="/img/page_2_165lianhua10.png" class="youxia3 ani" DQL="scaleBig 0.7s ease-out 5.2s 1 normal both">
    <img src="/img/page_2_165luzhu2.png" class="bg4 ani" DQL="scaleBig 1s ease-out 3.7s 1 normal both">
    <img src="/img/page_2_165luzhu.png" class="luzhu ani" DQL="scaleBig 1s ease 5.5s 1 normal both">
</div>