.page_4 {
  background: url("http://file.xitie.net.cn/165bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.page_4 .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 7.5rem;
  z-index: 22
}
.page_4 .pc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 9rem;
  height: 6.8rem;
  z-index: 20;
  overflow:hidden;
}
.page_4 .pc .pic {
  width:102%;
}

.page_4 .shuye {
  position: absolute;
  top: 10%;
  left: 2%;
  z-index: 24;
  width: 19%
}

.page_4 .zacao {
  position: absolute;
  top: 17%;
  left: 6%;
  z-index: 25;
  width: 17%
}

.page_4 .shang1 {
  position: absolute;
  top: 18%;
  left: 6%;
  z-index: 26;
  width: 16%
}

.page_4 .shang2 {
  position: absolute;
  top: 13%;
  left: 10%;
  z-index: 25;
  width: 16%
}

.page_4 .shang3 {
  position: absolute;
  top: 9%;
  left: 16%;
  z-index: 24;
  width: 16%
}

.page_4 .our {
  position: absolute;
  top: 1%;
  right: 32%;
  z-index: 24;
  width: 22%
}

.page_4 .story {
  position: absolute;
  top: 2%;
  right: 6%;
  z-index: 24;
  width: 22%
}

.page_4 .down {
  width: 9rem;
  position: absolute;
  bottom: 0;
  left: 1rem
}

.page_4 .xia1 {
  position: absolute;
  bottom: 2%;
  left: 4%;
  z-index: 24;
  width: 32%;
  z-index: 30
}

.page_4 .xia2 {
  position: absolute;
  bottom: 8%;
  left: 1%;
  z-index: 24;
  width: 26%
}

.page_4 .xia3 {
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 12;
  width: 24%;
  height: 24%
}

.page_4 .shang4 {
  position: absolute;
  top: 9%;
  left: 17%;
  z-index: 22;
  width: 33%
}

.page_4 .word {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 59%;
  width: 8rem;
  color: #7b5700;
  font-family: '微软雅黑';
  text-shadow: #7b5700 0 0 .08rem;
  display: inline-block;
  text-align: center;
  height: 2rem;
}

[data-dpr="3"] .page_4 .word {
  font-size: 36px
}

[data-dpr="1"] .page_4 .word {
  font-size: 12px
}