<div class="page_5 section">
    <img src="/img/page_5_165our.png" class="our ani" DQL="moveLeft 1s ease 2.2s 1 normal both">
    <img src="/img/page_5_165story.png" class="story ani" DQL="moveRight 1s ease 2.2s 1 normal both">
    <img src="/img/page_5_165zacao4.png" class="zacao ani" DQL="scaleBig 0.6s ease-out 3.6s 1 normal both">
    <img src="/img/page_5_165shuye5.png" class="shuye ani" DQL="scaleBig 0.6s ease-out 3.9s 1 normal both">
    <img src="/img/page_5_165lianhua9.png" class="shang1 ani" DQL="scaleBig 0.6s ease-out 3.3s 1 normal both">
    <img src="/img/page_5_165lianhua6.png" class="shang2 ani" DQL="scaleBig 0.6s ease-out 3s 1 normal both">
    <img src="/img/page_5_165lianhua13.png" class="shang3 ani" DQL="scaleBig 0.6s ease-out 3.3s 1 normal both">

    <img src="/img/page_5_165top.png" class="down ani" DQL="moveUp 1s ease 4s 1 normal both">

    <img src="/img/page_5_165lianhua3.png" class="xia1 ani" DQL="scaleBig 0.6s ease-out 4.3s 1 normal both">
    <img src="/img/page_5_165shuzhi1.png" class="xia2 ani" DQL="scaleBig1 0.6s ease-out 4.6s 1 normal both">

    <img src="/img/page_5_165lianhua10.png" class="xia3 ani" DQL="shengzhang 1s ease-out 4.9s 1 normal both">
    <img src="/img/page_5_165shuzhi2.png" class="shang4 ani" DQL="scaleBig 0.6s ease-out 3.6s 1 normal both">
    <div class="word ani" DQL="fadeInNormal 0.6s ease 5.7s 1 normal both"></div>
    <div class="area1 ani" DQL="moveLeft 2s linear 0s 1 normal both">
        <img src="/img/page_5_165bg3.png" class="bg3">
        <div class="pc">
            <img class="pic pic1">
        </div>
    </div>
    <div class="area2 ani" DQL="moveRight 2s linear 0s 1 normal both">
        <img src="/img/page_5_165bg3.png" class="bg3">
        <div class="pc">
            <img class="pic pic2">
        </div>

    </div>
</div>