<div class="page_1 section">
    <div class="zhongjian ani" DQL="scale-down 1s ease 0s 1 normal both">
      <img src="/img/page_1_165lianhua8.png" class="zuoshang1 ani" DQL="scaleBig 0.6s ease-out 1s 1 normal both">
      <img src="/img/page_1_165lianhua7.png" class="zuoshang2 ani" DQL="scaleBig 0.6s ease-out 1.3s 1 normal both">
      <img src="/img/page_1_165fenhua3.png" class="zuoshang3 ani" DQL="scaleBig 0.6s ease-out 1.6s 1 normal both">

      <img src="/img/page_1_165lianhua4.png" class="youshang1 ani" DQL="scaleBig 0.6s ease-out 1.8s 1 normal both">
      <img src="/img/page_1_165lianhua5.png" class="youshang2 ani" DQL="scaleBig 0.6s ease-out 2.1s 1 normal both">
      <img src="/img/page_1_165lianhua6.png" class="youshang3 ani" DQL="scaleBig 0.6s ease-out 2.4s 1 normal both">
      <img src="/img/page_1_165zacao2.png" class="youshang4 ani" DQL="scaleBig 0.6s ease-out 2.7s 1 normal both">

      <img src="/img/page_1_165lianhua2.png" class="zuoxia1 ani" DQL="scaleBig 0.6s ease-out 2.9s 1 normal both">
      <img src="/img/page_1_165fenhua1.png" class="zuoxia2 ani" DQL="scaleBig 0.6s ease-out 3.2s 1 normal both">

      <img src="/img/page_1_165lianhua1.png" class="youxia1 ani" DQL="scaleBig 0.6s ease-out 3s 1 normal both">
      <img src="/img/page_1_165lianhua3.png" class="youxia2 ani" DQL="scaleBig 0.6s ease-out 3.3s 1 normal both">

      <img src="/img/page_1_165fenhua2.png" class="youxia3 ani" DQL="scaleBig 0.6s ease-out 3.6s 1 normal both">
      <img src="/img/page_1_165zacao1.png" class="youxia4 ani" DQL="scaleBig 0.6s ease-out 3.6s 1 normal both">
      <div class="tit ani" DQL="scaleBig 1s linear 3.7s 1 normal both">
        <img src="/img/page_1_165weddingkuang.png">
      </div>
      <div class="xinRen">
        <img src="/img/page_1_165xin.png" class="xin1 ani" DQL="expandOpen 1s ease-out 5.5s 1 normal both">
        <span class="xinlang ani" DQL="rotateIn 0.6s ease-out 5.1s 1 normal both"></span>
        <img src="/img/page_1_165luan.png" class="xin2 ani" DQL="fadeIn 0.5s ease-out 5.2s 1 normal both">
        <span class="xinniang ani" DQL="rotateIn 0.6s ease-out 5.1s 1 normal both"></span>
        <img src="/img/page_1_165xin.png" class="xin1 ani" DQL="expandOpen 1s ease-out 5.5s 1 normal both">
      </div>
      <div class="detail ani" DQL="scale-down 0.5s linear 4.2s 1 normal both">
        <img src="/img/page_1_165hua1.png">
        <div class="title ani" DQL="scaleBig 0.6s ease-out 4.3s 1 normal both">谨定于</div>
        <div class="time ani" DQL="scaleBig 0.6s ease-out 4.5s 1 normal both"></div>
        <div class="nong ani" DQL="scaleBig 0.6s ease-out 4.7s 1 normal both"></div>
        <div class="gongyin ani" DQL="scaleBig 0.6s ease-out 4.9s 1 normal both">恭候您的光临</div>
        <div class="xishe ani" DQL="scaleBig 0.6s ease-out 5.1s 1 normal both">【席设】</div>
        <div class="place ani" DQL="scaleBig 0.6s ease-out 5.3s 1 normal both"></div>
      </div>

    </div>
    <img src="/img/page_1_165shuye.png" class="shuye ani" DQL="scaleBig 1.5s ease 3.6s 1 normal both">
</div>