<div class="start_1 section">
    <img src="/img/start_1_165top.png" class="top ani" DQL="upDown 1.5s ease 0s 1 normal both">
    <img src="/img/start_1_165down.png" class="down">
    <ul>
      <li>
        <img src="/img/start_1_165luzhu.png" class="luzhu ani" DQL="scaleBig 1s ease 4s 1 normal both">
        <img src="/img/start_1_165hua2.png" class="hua ani" DQL="scaleBig 2s ease 0s 1 normal both">
        <div class="cover"></div>
        <img src="/img/start_1_165yuanzi1.png" class="yz1 ani" DQL="scaleBig 1s ease 1s 1 normal both">
        <img src="/img/start_1_165yuanzi2.png" class="yz2 ani" DQL="scaleBig 1s ease 1s 1 normal both">
        <div class="w3 ani" DQL="scaleBig 1s ease 1.5s 1 normal both">THE WEDDING</div>


        <img src="/img/start_1_165w2.png" class="w2 ani" DQL="left-right 1s ease 0.5s 1 normal both">


        <img src="/img/start_1_165w6.png" class="w6 ani" DQL="right-left 1s ease 0.5s 1 normal both">

        <div class="time ani" DQL="slideLeft 1s ease 1.5s 1 normal both"></div>

        <div class="start ani" DQL="slideRight 1s ease 1.5s 1 normal both">*****</div>
      </li>
      <li>

        <img src="/img/start_1_165xin.png" class="hongxin1 ani" DQL="scaleBig 1s ease 3.5s 1 normal both">
        <img src="/img/start_1_165xin.png" class="hongxin2 ani" DQL="scaleBig 1s ease 3.5s 1 normal both">
      <img src="/img/start_1_165hua1.png" class="centerHua ani" DQL="scaleBig 0.5s ease 2s 1 normal both">
      <div class="marry">
        <span class="xinlang ani" DQL="rotateIn 0.5s ease 3s 1 normal both"></span>
        <img src="/img/start_1_165luan.png" class="luan ani" DQL="fadeIn 0.5s ease 2.5s 1 normal both">
        <span class="xinniang ani" DQL="rotateIn 0.5s ease 3s 1 normal both"></span>
      </div>
      <div class="marryMes">
        <img src="/img/start_1_165w4.png" class="w4 ani" DQL="moveRight 1s ease 2.5s 1 normal both">
        <img src="/img/start_1_165w1.png" class="w1 ani" DQL="moveLeft 1s ease 2.5s 1 normal both">
      </div>
    </li>
    </ul>
</div>