<div class="end_1 section">
    <img src="/img/end_1_165top.png" class="h0 ani" DQL="upDown 1s ease 0s 1 normal both">

    <img src="/img/end_1_165lianhua25.png" class="h1 ani" DQL="scaleBig 0.5s ease-out 2.3s 1 normal both">
    <img src="/img/end_1_165lianhua7.png" class="h2 ani" DQL="scaleBig 0.5s ease-out 2.6s 1 normal both">

    <img src="/img/end_1_165lianhua4.png" class="h3 ani" DQL="scaleBig 0.5s ease-out 1.3s 1 normal both">
    <img src="/img/end_1_165lianhua6.png" class="h4 ani" DQL="scaleBig 0.5s ease-out 1s 1 normal both">
    <img src="/img/end_1_165lianhua26.png" class="h5 ani" DQL="scaleBig 0.5s ease-out 1.9s 1 normal both">
    <img src="/img/end_1_165lianhua12.png" class="h6 ani" DQL="scaleBig 0.5s ease-out 1.6s 1 normal both">
    <img src="/img/end_1_165shuzhi1.png" class="h7 ani" DQL="scaleBig 0.5s ease-out 2.2s 1 normal both">
    <img src="/img/end_1_165shuye0.png" class="h9 ani" DQL="scaleBig 0.5s ease-out 2.1s 1 normal both">
    <img src="/img/end_1_165diandian2.png" class="h10 ani" DQL="scaleBig 0.5s ease-out 2.4s 1 normal both">

    <img src="/img/end_1_165lianhua2.png" class="h11 ani" DQL="scaleBig 0.5s ease-out 4.2s 1 normal both">
    <img src="/img/end_1_165lianhua6.png" class="h12 ani" DQL="scaleBig 0.5s ease-out 3.9s 1 normal both">
    <img src="/img/end_1_165lianhua13.png" class="h13 ani" DQL="scaleBig 0.5s ease-out 3.6s 1 normal both">
    <img src="/img/end_1_165lianhua11.png" class="h14 ani" DQL="scaleBig 0.5s ease-out 3.2s 1 normal both">
    <img src="/img/end_1_165lianhua10.png" class="h15 ani" DQL="scaleBig 0.5s ease-out 2.9s 1 normal both">
    <img src="/img/end_1_165lianhua20.png" class="h16 ani" DQL="scaleBig 0.5s ease-out 3.1s 1 normal both">

    <img src="/img/end_1_165fenhua1.png" class="h17 ani" DQL="scaleBig 0.5s ease-out 4.5s 1 normal both">
    <img src="/img/end_1_165shuzhi1.png" class="h18 ani" DQL="scaleBig 0.5s ease-out 3.4s 1 normal both">
    <img src="/img/end_1_165lianhua20.png" class="h19 ani" DQL="scaleBig 0.5s ease-out 3.2s 1 normal both">
    <img src="/img/end_1_165diandian.png" class="h20 ani" DQL="scaleBig 0.5s ease-out 4.8s 1 normal both">
    <div class="mesArea ani" DQL="rotateInDownLeft 1s ease 2s 1 normal both">
      <div class="heart"></div>
      <div class="time"></div>
      <div class="address"></div>

    </div>

    <div class="out ani" DQL="expandOpen 1s ease 2.5s 1 normal both">
      <a href="huifu.html" class="pray">送上祝福</a>
      <a href="huifu.html" class="pray" style="margin-top:0.5rem;">我要赴宴</a>
    </div>
    <div class="bo_mes ani" DQL="fadeInNormal 1s ease 2.5s 1 normal both">
      <a href="javascript:;" id="jubao_btn" data-cid="CD147999486288767BQMk" class="report">
        <i class="fa fa-bell-o" aria-hidden="true"></i> 举报
      </a>
      <!-- <a  href='http://app.xitie.net.cn/web.php?accid=AC138763524113306497'  class="iMake">这么漂亮的请帖—》我也来制作</a> -->
      <a  class="iMake">这么漂亮的请帖—》我也来制作</a>
    </div>
</div>