<div class="page_8 section">
     <div class="area ani" DQL="rotateInDownLeft 2s ease 0s 1 normal both">
       <img src="/img/page_8_165two.png" class="bg">
       <img class="pic1">
       <img class="pic2">
       <img src="/img/page_8_165xin.png" class="xin1 ani" DQL="expandOpen 0.6s ease-out 5.7s 1 normal both">
       <img src="/img/page_8_165xin.png" class="xin2 ani" DQL="expandOpen 0.6s ease-out 5.7s 1 normal both">
       <img src="/img/page_8_165hua1.png" class="hua ani" DQL="zoomIn 0.6s ease-out 6s 1 normal both">
     </div>
     <img src="/img/page_8_165lianhua8.png" class="l1 ani" DQL="scaleBig 0.6s ease-out 1.9s 1 normal both">
     <img src="/img/page_8_165lianhua9.png" class="l2 ani" DQL="scaleBig 0.6s ease-out 4.3s 1 normal both">
     <img src="/img/page_8_165lianhua18.png" class="l3 ani" DQL="scaleBig 0.6s ease-out 2.5s 1 normal both">
     <img src="/img/page_8_165shuzhi3.png" class="l4 ani" DQL="scaleBig 0.6s ease-out 4.6s 1 normal both">
     <img src="/img/page_8_165top.png" class="l5 ani" DQL="upDown 1s ease-out 5s 1 normal both">
     <img src="/img/page_8_165lianhua12.png" class="l6 ani" DQL="scaleBig 0.6s ease-out 4s 1 normal both">
     <img src="/img/page_8_165lianhua9.png" class="l7 ani" DQL="scaleBig 0.6s ease-out 3.7s 1 normal both">
     <img src="/img/page_8_165lianhua3.png" class="l8 ani" DQL="scaleBig 0.6s ease-out 3.4s 1 normal both">
     <img src="/img/page_8_165lianhua6.png" class="l9 ani" DQL="scaleBig 0.6s ease-out 2.8s 1 normal both">
     <img src="/img/page_8_165lianhua13.png" class="l10 ani" DQL="scaleBig 0.6s ease-out 2.2s 1 normal both">
     <img src="/img/page_8_165shuzhi3.png" class="l11 ani" DQL="scaleBig 0.6s ease-out 4.1s 1 normal both">
     <img src="/img/page_8_165fen3.png" class="l12 ani" DQL="scaleBig 0.6s ease-out 3.1s 1 normal both">
</div>