*{
    padding: 0;
    margin: 0;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
    zoom: 1;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

ul li {
    list-style: none;
}

body{
    color: #000 !important;
    font-size: 0.14rem;
    background-color: #EFEFF4 !important;
}

.header_box {
	position: relative;
	padding: 0;
	height: 0.48rem;
	text-align: center;
	line-height: 0.48rem;
	font-size: 0.14rem;
	background: #ffffff;
}
.header_box .back {
	position: absolute;
	right: 0.1rem;
	top: 0.15rem;
	width: 0.17rem;
	height:0.18rem;
    background: url("img/home.png") center center no-repeat;
    background-size: 100%;
}
.header_box .city {
	position: absolute;
	top: 0;
	left: 0;
	height: 0.48rem;
	text-align: left;
	line-height: 0.48rem;
	font-size: 0.15rem;
}
.header_box .city * {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0.15rem;
	height: 100%;
}
.header_box .city span {
	width: 0.5rem;
}
.header_box select {
	z-index: 9;
	opacity: 0;
}

.content{
    margin: 0.06rem 0.05rem 0;
}

.content .text_info{
    width: 3.1rem;
    height: 0.77rem;
    background-color: #fff;
    position: relative;
    margin-bottom: 0.05rem;
}

.content .text_info .text_box{
    width: 2.3rem;
    font-size: 0.14rem;
    line-height: 0.22rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}

.hotel,.app{
    width: 3.1rem;
    height: 1.6rem;
    background-color: #fff;
    margin-bottom: 0.05rem;
    position: relative;
}
.hotel .pic_01 ,
.app .pic_02{
    width: 1.82rem;
    height: 1.6rem;
    float: left;
}

.hotel .pic_01{
    background: url("./img/img_hotel.png") center center no-repeat;
    background-size: 100%;
}

.app .pic_02{
    background: url("./img/img_app.png") center center no-repeat;
    background-size: 100%;
}

.hotel a , .app a{
    color: #000;
    text-decoration: none;
    text-align: right;
    display: block;
    margin-right: 0.10rem;
}
.hotel a{
    height: 0.2rem;
    width: 1.1rem;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.app a {
    height: 0.56rem;
    line-height: 0.28rem;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.app a .color_grey{
    font-size: 0.12rem;
    color: #666666;
}

.content .logo{
    width: 0.86rem;
    height: 0.22rem;
    background: url("./img/logo.png") center center no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0.2rem;
    left: 1.17rem;
}